* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter';
}


/* navber */

.navber {
    width: 100%;
    max-width: 1590px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo img {
    width: 139px;
    height: 60px;
    margin-top: 16px;
    margin-bottom: 16px;
    margin-left: 120px;
}

.menu {
    list-style: none;
    display: flex;
    gap: 32px;
    align-items: center;
}

.menu li a {
    text-decoration: none;
    width: 200px;
    height: 24px;
    margin-top: 34px;
    margin-bottom: 34px;
}

.btn button {
    width: 164px;
    height: 44px;
    background-color: #469165;
    color: #FFFFFF;
    border-radius: 5px;
    border: none;
    margin-right: 40px;
    cursor: pointer;
}


/* Banner Section */

.hero-section {
    width: 100%;
    max-width: 1590px;
    height: 670px;
    background: url(./assets/hero-bg.png);
    position: relative;
    display: flex;
    align-items: center;
    padding: 115px 120px 180px 120px;
    color: white;
    justify-content: center;
    padding: 0 20px;
}

.hero-container {
    width: 1350px;
    position: relative;
    text-align: center;
}

.bag {
    border-radius: 50px;
    height: 35px;
    width: 229px;
    background-color: #FFFFFF;
    color: #469165;
    align-items: center;
    opacity: 100%;
    padding: 6px 14px;
}

.hero-container h1 {
    font-size: 60px;
    line-height: 1.2;
    margin-top: 15px;
}

h1 span {
    color: #30B868;
}

.hero-container p {
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
}

.hero-buttons {
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

.btn {
    padding: 14px 22px;
    border-radius: 6px;
    text-decoration: none;
    font-size: 15px;
    font-weight: 600;
}

.btn.primary {
    background: #22c55e;
    color: #fff;
}

.btn.outline {
    border: 2px solid #fff;
    color: #fff;
}


/* note-section */

.heading h1 {
    display: flex;
    justify-content: center;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 30px;
    font-size: 40px;
    font-weight: bold;
}

.heading p {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    line-height: 20px;
    color: #627382;
    margin-top: 20px;
}

.card-box {
    display: flex;
    margin: 0 auto;
}

.card {
    width: 300px;
    height: 280px;
    box-shadow: 0 4px 40px 0 #dde0de;
    margin-top: 100px;
    margin-bottom: 48px;
    margin-left: 72px;
    border: 10%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.card img {
    margin: top 10px;
}

.card h3 {
    font-size: 24px;
    font-weight: bold;
    width: 250px;
    height: 25px;
    margin-top: 2px;
}

.card p {
    margin-top: 16px;
    width: 270px;
    height: 40px;
    font-size: 16px;
    line-height: 20px;
    color: #627282;
}